<section class="px-6 py-10 bg-white text-gray-800 max-w-4xl mx-auto">
  <header class="mb-8 border-b pb-4 flex gap-4 items-baseline">
    <button onclick="history.back()"
      class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-md shadow-md transition duration-300">
      {{"7498778988" | translate}}
    </button>

    <h1 class="text-2xl font-bold uppercase text-gray-900">{{"1233434545"|translate}}</h1>
  </header>

  <section class="space-y-6">
    <ol class="space-y-4 list-decimal list-inside">
      <li class="font-semibold text-lg">{{"9080989098" | translate}}</li>
      <p class="text-gray-700">
        {{"5847359544" | translate}}
      </p>

      <li class="font-semibold text-lg">{{"9583490584" | translate}}</li>
      <p class="text-gray-700">
        {{"5748395798" | translate}}
      </p>

      <li class="font-semibold text-lg">{{"5234532545" | translate}}</li>
      <p class="text-gray-700">
        {{"2545465677" | translate}}
      </p>

      <li class="font-semibold text-lg">{{"7657657345" | translate}}</li>
      <ul class="list-disc list-inside ml-4 text-gray-700 space-y-1">
        <li>{{ '5645643650' | translate }}</li>
        <li>{{ '6765765887' | translate }}</li>
        <li>{{ '7465746656' | translate }}</li>
      </ul>

      <li class="font-semibold text-lg">{{ '2435436655' | translate }}</li>

      <table class="w-full border border-gray-300 text-sm text-left mt-4">
        <caption class="text-base font-semibold text-gray-800 mb-2 text-center">{{ '8767868884' | translate }}</caption>
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 border">{{ '2332180001' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7987432616' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7543543517' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7556654718' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-4 py-2 border"><mark class="bg-yellow-200">XSRF-TOKEN</mark></td>
            <td class="px-4 py-2 border">trackllo.vercel.app</td>
            <td class="px-4 py-2 border">{{ '1235654719' | translate }}</td>
            <td class="px-4 py-2 border">{{ '9893565472' | translate }}</td>
          </tr>
        </tbody>
      </table>

      <table class="w-full border border-gray-300 text-sm text-left mt-6">
        <caption class="text-base font-semibold text-gray-800 mb-2 text-center">{{ '9543565472' | translate }}
        </caption>
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 border">{{ '2332180001' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7987432616' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7543543517' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7556654718' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-4 py-2 border"><mark class="bg-yellow-200">_ga</mark></td>
            <td class="px-4 py-2 border">trackllo.vercel.app</td>
            <td class="px-4 py-2 border">{{ '9343654722' | translate }}</td>
            <td class="px-4 py-2 border">{{ '6648322448' | translate }}</td>
          </tr>
          <tr>
            <td class="px-4 py-2 border"><mark class="bg-yellow-200">_gid</mark></td>
            <td class="px-4 py-2 border">trackllo.vercel.app</td>
            <td class="px-4 py-2 border">{{ '6646652389' | translate }}</td>
            <td class="px-4 py-2 border">{{ '4534255455' | translate }}</td>
          </tr>
        </tbody>
      </table>

      <table class="w-full border border-gray-300 text-sm text-left mt-6">
        <caption class="text-base font-semibold text-gray-800 mb-2 text-center">{{ '4534453458' | translate }}</caption>
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 border">{{ '2332180001' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7987432616' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7543543517' | translate }}</th>
            <th class="px-4 py-2 border">{{ '7556654718' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-4 py-2 border"><mark class="bg-yellow-200">language</mark></td>
            <td class="px-4 py-2 border">trackllo.vercel.app</td>
            <td class="px-4 py-2 border">{{ '2312312322' | translate }}</td>
            <td class="px-4 py-2 border">{{ '9089089890' | translate }}</td>
          </tr>
        </tbody>
      </table>

      <li class="font-semibold text-lg">{{ '1245676890' | translate }}</li>
      <p class="text-gray-700">
        {{ '9875676446' | translate }} <strong>LGPD</strong> e <strong>GDPR</strong>.
      </p>

      <li class="font-semibold text-lg">Referências Legais</li>
      <ul class="list-disc list-inside ml-4 text-gray-700 space-y-1">
        <li>Lei Geral de Proteção de Dados (Lei nº 13.709/2018 - LGPD)</li>
        <li>General Data Protection Regulation (GDPR - UE)</li>
        <li>{{ '6648323448' | translate }}
          <a href="https://policies.google.com/technologies/cookies" target="_blank" rel="noopener noreferrer"
            class="text-blue-600 underline hover:text-blue-800 lowercase">
            {{ '1748265488' | translate }}
          </a>
        </li>
      </ul>
    </ol>
  </section>
</section>