<section class="w-full mt-10 flex flex-col sm:flex-row justify-center items-center  sm:justify-between gap-5 flex-wrap sm:items-start">
  
  @for (column of ['Todo', 'In Progress', 'Done']; track $index) {
  <app-tasks [columnTitle]="column"
    [columnId]="column === 'Todo' ? idTodo : column === 'In Progress' ? idInProgress : idDone"
    [columnTasks]=" column==='Todo' ? columnTodo : column==='In Progress' ? columnInProgress : columnDone"
    [colorTask]="column === 'Todo' ? 'blue' : column ==='In Progress' ?'yellow': 'green'" [id]="column.replace(' ', '')"
    [connectedTo]="getConnectedColumns(column)" (taskDropped)="onMoveColumnTask($event)" />
  }
  
  @if (errorMessage) {
    <app-alert
      [message]="errorMessage"
      [type]="'error'"
      [duration]="5000">
    </app-alert>
    }
</section>