<form [formGroup]="boardForm" (ngSubmit)="onSubmit()"
  class="bg-white p-4 rounded-xl shadow-md space-y-4 font-[Montserrat]">
  <input formControlName="title"  [placeholder]="'7087384868' | translate"
    class="w-full border border-blue-400 rounded-lg px-4 py-2 text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
  <button type="submit" [disabled]="boardForm.invalid" 
    class="w-full bg-blue-600 text-white font-semibold rounded-lg py-2 transition hover:bg-blue-700 disabled:opacity-50">
    {{'2150090454' | translate}}
  </button>
</form>
