<div class="w-full flex flex-col min-h-screen"
  [ngStyle]="{ background: 'radial-gradient(50% 50% at 50% 50%, #2d0064 0%, #0d001c 100%)' }">
  <div class="flex-1 flex flex-col" [ngStyle]="{
    background: 'url(assets/background.jpg)',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat'
  }">
    <main
      class="min-h-full flex-1 flex flex-col py-2 items-center"
      [ngClass]="className"
    >
      <router-outlet />
    </main>
  
  </div>
</div>
