<section class="w-full flex justify-around gap-5 flex-wrap items-start">
  @for (column of ['Todo', 'In Progress', 'Done']; track $index) {
  <app-columns [columnTitle]="column"
    [columnTasks]="column === 'Todo' ? columnTodo : column === 'In Progress' ? columnInProgress : columnDone"
    [colorTask]="column === 'Todo' ? 'blue' : column ==='In Progress' ?'yellow': 'green'" [columnId]="column"
    [connectedTo]="getConnectedColumns(column)" (taskDropped)="onMoveColumnTask($event)" />
  }
</section>
