<section class="w-full flex justify-around gap-5 flex-wrap items-start">
  <article class="flex flex-col items-center bg-gray-100 p-4 rounded-lg shadow-lg w-80">
    <h2 class="text-lg font-bold mb-3">To do</h2>
    <ul cdkDropList #todoList="cdkDropList" [cdkDropListData]="columnTodo"
      [cdkDropListConnectedTo]="[inProgressList, doneList]" (cdkDropListDropped)="onMoveColumnTask($event)"
      class="w-full space-y-2">
      @for (item of columnTodo; track $index) {
      <li cdkDrag [@fadeInOut] class="p-2 rounded-lg shadow-md bg-blue-200 cursor-grab">
        {{ item.title }}
      </li>
      }
    </ul>
  </article>

  <article class="flex flex-col items-center bg-gray-100 p-4 rounded-lg shadow-lg w-80">
    <h2 class="text-lg font-bold mb-3">In Progress</h2>
    <ul cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="columnInProgress"
      [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="onMoveColumnTask($event)"
      class="w-full space-y-2">
      @for (item of columnInProgress; track $index) {
      <li cdkDrag [@fadeInOut] class="p-2 rounded-lg shadow-md bg-yellow-200 cursor-grab">
        {{ item.title }}
      </li>
      }
    </ul>
  </article>

  <article class="flex flex-col items-center bg-gray-100 p-4 rounded-lg shadow-lg w-80">
    <h2 class="text-lg font-bold mb-3">Done</h2>
    <ul cdkDropList #doneList="cdkDropList" [cdkDropListData]="columnDone"
      [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="onMoveColumnTask($event)"
      class="w-full space-y-2">
      @for (item of columnDone; track $index) {
      <li cdkDrag [@fadeInOut] class="p-2 rounded-lg shadow-md bg-green-200 cursor-grab">
        {{ item.title }}
      </li>
      }
    </ul>
  </article>
</section>