<app-layout [className]="'bg-gradient-to-b from-transparent via-black/10 to-transparent  overflow-hidden'">
  <app-header></app-header>
  <div class="flex flex-col items-center my-6  sm:w-[80%] bg-[#0f172a]  py-10 px-4 rounded-xl">
    @defer () {
    @if (board$ | async; as board) {
      <header>
        <h2 class=" text-blue-400 text-lg text-center sm:text-xl lg:text-2xl">
          Visualize o progresso das suas tarefas em tempo real.
        </h2>
      </header>
    <app-columns [board]="board"></app-columns>

    }

    } @placeholder (minimum 3s) {
    <app-loading [message]="'7746872364' | translate"></app-loading>
    }
  </div>
</app-layout>